In [11]:
! dir

 Том в устройстве C не имеет метки.
 Серийный номер тома: 5E0B-0611

 Содержимое папки C:\Users\Сас\Downloads

16.01.2018  22:39    <DIR>          .
16.01.2018  22:39    <DIR>          ..
21.12.2017  21:13    <DIR>          .ipynb_checkpoints
16.01.2018  22:32             8 192 emaildb.sqlite
16.01.2018  20:58         6 687 002 mbox.txt
16.01.2018  22:39         6 687 002 mbox1.txt
20.12.2017  00:47    <DIR>          ods_emoji
01.12.2017  22:47    <DIR>          text_mining
16.01.2018  22:39             6 918 Untitled.ipynb
               4 файлов     13 389 114 байт
               5 папок   1 936 998 400 байт свободно

In [12]:
!dir

 Том в устройстве C не имеет метки.
 Серийный номер тома: 5E0B-0611

 Содержимое папки C:\Users\Сас\Downloads

16.01.2018  22:39    <DIR>          .
16.01.2018  22:39    <DIR>          ..
21.12.2017  21:13    <DIR>          .ipynb_checkpoints
16.01.2018  22:32             8 192 emaildb.sqlite
16.01.2018  20:58         6 687 002 mbox.txt
16.01.2018  22:39         6 687 002 mbox1.txt
20.12.2017  00:47    <DIR>          ods_emoji
01.12.2017  22:47    <DIR>          text_mining
16.01.2018  22:39             6 918 Untitled.ipynb
               4 файлов     13 389 114 байт
               5 папок   1 936 982 016 байт свободно

In [9]:
%%time
import sqlite3

conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')

cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''')

fname = 'mbox.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    pieces = line.split()
    email = remove_sobaka(pieces[1])
    cur.execute('SELECT count FROM Counts WHERE org = ? ', (email,))
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (org, count)
                VALUES (?, 1)''', (email,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE org = ?',
                    (email,))
    
conn.commit()

# https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

cur.close()

iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17
Wall time: 94.8 ms

In [12]:
%%time
import sqlite3

conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')

cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''')

fname = 'mbox.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    pieces = line.split()
    email = remove_sobaka(pieces[1])
    cur.execute('SELECT count FROM Counts WHERE org = ? ', (email,))
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (org, count)
                VALUES (?, 1)''', (email,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE org = ?',
                    (email,))
    
conn.commit()

# https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

cur.close()

iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17
Wall time: 621 ms

In [3]:
a="cwen@iupui.edu"

In [ ]:
import re
re.match("@*",a)

In [10]:
from numba import jit

In [11]:
@jit
def remove_sobaka(a):
    g = False
    newline = ""
    for i in a:
        if g:
            newline += i
        if i == "@":
            g = True
            
    return newline

In [7]:
remove_sobaka(a)

'iupui.edu'

In [7]:
fh.close()

In [8]:
import sympy